body {
  background-color: lightgrey;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  margin: 2px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
